.s-image {
    padding: 50px;
    width: 450px;
    margin-right: 5px;
}

#carouselExampleIndicators .carousel-inner .carousel-item img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

.title {
    font-size: 60px;
}

.description {
    font-size: 40px;
    line-height: 45px;
}

.d-info {
    font-size: 20px;
    line-height: 30px;
}