<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1" style="background-color: #D3D3D3"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
      aria-label="Slide 2" style="background-color: #D3D3D3"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
      aria-label="Slide 3" style="background-color: #D3D3D3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="container d-flex justify-content-between">
        <div class="d-flex justify-content-center align-items-start flex-column ms-5">
          <span class="text-success title mb-3">#1</span>
          <span class="description">Best Sellers in Clothes & Fitness</span>
          <span class="d-info">Feethit Men's Running Shoes Breathable Walking Shoes Lightweight and Comfort White 6 UK</span>
        </div>
        <div>
          <img src="assets/images/banner_img_01.png" class="d-block s-image" alt="...">
        </div>
      </div>
    </div> 
    <div class="carousel-item">
      <div class="container d-flex justify-content-between">
        <div class="d-flex justify-content-center align-items-start flex-column ms-5">
          <span class="text-success title mb-3">#2</span>
          <span class="description">Best Sellers in Clothes & Fitness</span>
          <span class="d-info">Feethit Men's Running Shoes Breathable Walking Shoes Lightweight and Comfort White 6 UK</span>
        </div>
        <div>
          <img src="assets/images/banner_img_02.png" class="d-block s-image" alt="...">
        </div>
      </div>
    </div> 
    <div class="carousel-item">
      <div class="container d-flex justify-content-between">
        <div class="d-flex justify-content-center align-items-start flex-column ms-5">
          <span class="text-success title mb-3">#3</span>
          <span class="description">Best Sellers in Clothes & Fitness</span>
          <span class="d-info">Feethit Men's Running Shoes Breathable Walking Shoes Lightweight and Comfort White 6 UK</span>
        </div>
        <div>
          <img src="assets/images/banner_img_03.png" class="d-block s-image" alt="...">
        </div>
      </div>
    </div>      
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" style="background-color: #D3D3D3" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" style="background-color: #D3D3D3" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>