<div class="navbar navbar-expand-lg fixed-top bg-light" data-bs-theme="light">
  <div class="container">
    <div class="navbar-brand">
      <a href="#">
        <img src="assets/images/logo-v2.png" alt="logo" style="max-height: 40px;">
      </a>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav">
        <a class="nav-link active" href="#">Home
          <span class="visually-hidden">(current)</span>
        </a>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
        <li class="nav-item dropdown" data-bs-theme="light">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" id="download">Shop</a>
          <div class="dropdown-menu" aria-labelledby="download">
            <a class="dropdown-item" rel="noopener" target="_blank" href="#">Open in JSFiddle</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" download="">bootstrap.css</a>
            <a class="dropdown-item" href="#" download="">bootstrap.min.css</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" download="">bootstrap.rtl.css</a>
            <a class="dropdown-item" href="#" download="">bootstrap.rtl.min.css</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" download="">_variables.scss</a>
            <a class="dropdown-item" href="#" download="">_bootswatch.scss</a>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav ms-md-auto">
        <li class="nav-item">
          <a href="#" class="cart-icon">
            <i class="fas fa-cart-shopping fas-lg nav-link"></i>
            <div class="cart-notification">13</div>
          </a>
        </li>
        <li class="nav-item dropdown" data-bs-theme="light">
          <a class="nav-link dropdown-toggle" href="#" id="theme-menu" aria-expanded="false" data-bs-toggle="dropdown"
            data-bs-display="static" aria-label="Toggle theme">
            <i class="fa-solid fa-user fa-lg"></i>
            <span class="d-lg-none ms-2">User</span>
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li>
              <button type="button" class="dropdown-item" data-bs-theme-value="light" aria-pressed="false">
                <i class="fa-solid fa-user-check"></i><span class="ms-2">Log in</span>
              </button>
            </li>
            <li>
              <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark"
                aria-pressed="true">
                <i class="fas fa-sign-in"></i><span class="ms-2">Sign up</span>
              </button>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>