.box {
    position: relative;
    display: flex;
    margin-right: 25px;
    align-items: center;
}

.input {
    padding: 10px;
    width: 35px;
    height: 35px;
    background: none;
    border: 2px solid #575757;
    border-radius: 50px;
    box-sizing: border-box;
    font-size: 18px;
    color: #575757;
    outline: none;
    transition: .5s;
}

.box:hover input {
    width: 250px;
    background: #F8F9FA;
    border-radius: 10px;
}

.box i {
    position: absolute;
    top: 50%;
    right: 55px;
    transform: translate(-50%, -50%);
    font-size: 16px;
    color: #575757;
    transition: .2s;
    display: flex;
    align-items: center;
}

.box:hover i {
    opacity: 0;
    z-index: -1;
}


.circle-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
}

.d-flex {
    display: flex;
    align-items: center;
}

.text-below {
    display: block;
    text-align: center;
    font-size: 16px;
    margin-left: 6px;
}


