<div class="container">
    <div class="row">
        <section class="col-3">
            <div class="d-flex justify-content-between align-items-center">
                <header>
                    <span class="search"><i class="fa-solid fa-filter me-2"></i></span>
                </header>
            </div>
            <div class="card mb-3" style="max-width: 20rem;">
                <div class="card-body">
                    <div class="card-title"><strong>Sort by:</strong></div>
                    <div class="form-group">
                        <select class="form-select" (change)="onSortSelected($event)">
                            <option *ngFor="let sort of sortOptions" [value]="sort.value">
                                {{sort.name}}
                            </option>
                        </select>
                    </div>
                    <hr>
                    <div class="card-title"><strong>Brands</strong></div>
                    <div class="form-check" *ngFor="let brand of brands">
                        <input class="form-check-input" type="checkbox" value=""
                            [checked]="brand.id===brandIdSelected" [value]="brand.id"
                            [id]="brand.id"
                            (click)="onBrandSelected(brand.id)">
                        <label class="form-check-label" [for]="brand.id">
                            {{brand.name}}
                        </label>
                    </div>
                    <hr>
                    <div class="card-title"><strong>Types</strong></div>
                    <div class="form-check" *ngFor="let type of types">
                        <input class="form-check-input" type="checkbox" value=""
                            [checked]="type.id===typeIdSelected" [value]="type.id"
                            [id]="type.id"
                            (click)="onTypeSelected(type.id)">
                        <label class="form-check-label" [for]="type.id">
                            {{type.name}}
                        </label>
                    </div>
                </div>
            </div>
        </section>
        <section class="col-9">
            <div class="d-flex justify-content-between align-items-center">
                <header>
                    <span class="search">Showing <strong>10</strong> of <strong>18</strong> Results</span>
                </header>
            </div>
            <div class="row row-cols-3 g-3">
                <div class="col" *ngFor="let product of products">
                    <app-product-item [product]="product"></app-product-item>
                </div>
            </div>
        </section>
    </div>
</div>